(file present
		(and
				(installed "rsync")
        (installed "diffutils")
			  (or
						(test "diff" [arg:0] [arg:1])
			      (change "rsync" [arg:0] [arg:1])
				)
		)
)

(file absent
		(or
				(test "test" "!" "-f" [arg:0])
			  (change "rm" "-f" [arg:0])				
		)
)
