
(installed	
	(or
       	(package present [arg:0])
       	(change "apt-get" "--force-yes" "--yes" "install" [arg:0])
   	)	    
)

(uninstalled	
	(or
	   	(package absent [arg:0])
		(change "apt-get" "--yes" "purge" [arg:0])
	)	
)

(package absent	
		(debian package absent [arg:0])
)

(package present	
		(debian package present [arg:0])
)

(debian package absent
	(not
		(debian package present [arg:0])
	)
)

(debian package present
	(and
		(is debian)
		(pipe
	        (test "dpkg-query" "-W" "--showformat='${Status}\n'" [arg:0])
	        (test "grep" "install ok installed")
	    )
	)	
)

(yum installed
    (or 
		(yum package present) 
		(yum install package))
	)

(yum package present
  	(pipe
    	(test "yum" "--quiet" "list" "installed")
	    (test "sed" "-rn" "s/([^.]+).*/\1/p")
	    (test "grep" [arg:0])
	)
)

(yum install package
  	(change "yum" "install" [arg:0])
)

(rpm install package
  	(change "rpm" "-ihv" [arg:0])
)