(llconf ready
    (llconf lib present)
    (llconf up to date)
)

(llconf lib present
    (git clone
        "https://github.com/denkhaus/llconf-lib.git"
        [var:lib_dir]
    )
)

(llconf up to date
  	(and
    		(change "go" "get" "-u" "-v" "github.com/denkhaus/llconf")
    		(restart)
  	)
)
