(llconf ready
		(and
				(llconf lib present)
				(llconf up to date)
		)
)

(llconf lib present
		(git clone
				"https://github.com/denkhaus/llconf-lib.git"
				[var:lib_dir]
		)
)

(llconf up to date

				(and
						(setvar "llconf-rev-file" [join [var:lib_dir] "/.llconf_rev"])
						(change "echo" [var:llconf-rev-file])
						(test "test" "-f" [var:llconf-rev-file])
						(change "cat" [var:llconf-rev-file])
						(readvar "llconf-rev" (change "cat" [var:llconf-rev-file]))
						(test "test" "$(/usr/local/bin/llconf --revision)" "==" [var:llconf-rev])
				)

		)
)
