(llconf ready
    (and
        (llconf lib present)
        (llconf up to date)
        (restart)
    )
)

(llconf lib present
    (git clone
        "https://github.com/denkhaus/llconf-lib.git"
        [var:lib_dir]
    )
)

(llconf up to date
    (change "go" "get" "-u" "-v" "github.com/denkhaus/llconf")    		
)
