
(service running
    (and
        (is debian)
        (or
            (is service running [arg:0])
            (change "service" [arg:0] "start")
        )
    )
)

(service restarted
    (and
        (is debian)
        (or
            (and
                (is service running [arg:0])
                (change "service" [arg:0] "restart")
            )
            (and
                (is service stopped [arg:0])
                (change "service" [arg:0] "start")
            )
        )
    )
)

(service stopped
    (and
        (is debian)
        (or
            (is service stopped [arg:0])
            (change "service" [arg:0] "stop")
        )
    )
)

(is service running
    (and
        (is debian)
        (or
            (pipe
                (test "service" [arg:0] "status")
                (test "grep" "start")
            )
            (pipe
                (test "service" [arg:0] "status")
                (test "grep" "running")
            )
        )
    )
)

(is service stopped
    (and
        (is debian)
        (pipe
            (test "service" [arg:0] "status")
            (test "grep" "stop")
        )
    )
)
