
(service running
    (and
        (is debian)
        (or
          (is service running [arg:0])
          (change "service" [arg:0] "start")
        )
    )
)

(is service running
    (and
        (is debian)
        (pipe
            (test "service" [arg:0] "status")
            (test "grep" "start/running")
        )
    )
)
