(system restart
    (change "shutdown" "-r" "now")
)

(system halt
    (change "shutdown" "-h" "now")
)

(system update full
    (and
        (is debian)
        (change "apt-get" "update")
        (change "apt-get" "--yes" "upgrade")
        (change "apt-get" "--yes" "dist-upgrade")
        (change "apt-get" "--yes" "autoremove")
    )
)

(system update
    (and
        (is debian)
        (change "apt-get" "update")
    )
)



(is debian
    (or
        (pipe
            (test "uname" "-v")
            (test "grep" "Debian")
        )
        (pipe
            (test "uname" "-v")
            (test "grep" "Ubuntu")
        )
    )
)

(is fedora
    (pipe
        (test "uname" "-v")
        (test "grep" "Fedora")
    )
)
