

(ensure user present
	(or
		(is user present [arg:0])
		(change "sudo" "useradd" "-m" "-U" [arg:0])
	)
)

(ensure user absent
	(or
		(is user absent [arg:0])	
		(change "sudo" "userdel" "-r" [arg:0])
	)
)

(is user absent
	(not
		(is user present [arg:0])
	)
)

(is user present
	(pipe
		(test "cut" "-d:" "-f1" "/etc/passwd")
		(test "grep" [arg:0])
	)
)